// Generic
$containerWidth:1058;

// Colors
$color-default-light: #fff;
$color-default-dark: #333;
$color-default-darker: #000;

$color-main: #0f5b9f;
$color-link-light: #fff;
$color-link-dark: #115ba0