#wimp-toolbar {
	background-color: $color-main;
	position:         fixed;
	top:              0;
	color:            $color-default-light;
	width:            100%;
	border-bottom:    1px solid $color-main-light;
	padding:          13px 15px;
	@include font-size(14px);
	a {
		color: $color-link-light;
	}
}

.admin-bar {
	#wimp-toolbar {
		top: 32px;
	}
}

#slogan, #account-credentials {
	display: inline-block;
}

#account-credentials {
	@include navlist();
	float: right;
	li:first-child {
		border-right:  1px solid $color-default-light;
		padding-right: 5px;
		margin-right:  5px;
		line-height:   1.2em;
		a {
			padding: 0 5px;
			display: block;
		}
	}
}