*,
*:after,
*:before {
	@include box-sizing(border-box);
}

// Text
a {
	text-decoration: none;
}

// Media
img {
	display:block;
	max-width:100%;
	height:auto;
}

// Misc
.browserupgrade {
	margin:     0.2em 0;
	background: #ccc;
	color:      #000;
	padding:    0.2em 0;
}