// Generic
$containerWidth:1058;

// Colors
$color-default-light: #fff;
$color-default-dark: #333;
$color-default-darker: #000;

$color-main: #0f5b9f;
$color-main-light: #a6c6d2;
$color-link-light: #fff;
$color-link-dark: #115ba0;
$color-highlight-dark: #282828;
$color-highlight: #f89a40;